{{- /* figure partial expects a dict. Keys supported: Page, src, class, link, target, rel, alt, caption, width, height, loading, title, attr, attrlink */ -}}
{{- $ctx := . -}}
{{- $page := index $ctx "Page" -}}
{{- $srcIn := index $ctx "src" -}}
{{- $class := index $ctx "class" -}}
{{- $link := index $ctx "link" -}}
{{- $target := index $ctx "target" -}}
{{- $rel := index $ctx "rel" -}}
{{- $alt := index $ctx "alt" -}}
{{- $caption := index $ctx "caption" -}}
{{- $width := index $ctx "width" -}}
{{- $height := index $ctx "height" -}}
{{- $loading := index $ctx "loading" -}}
{{- $title := index $ctx "title" -}}
{{- $attr := index $ctx "attr" -}}
{{- $attrlink := index $ctx "attrlink" -}}

{{- $u := urls.Parse $srcIn -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- with and $page (or ($page.Resources.Get $u.Path) (resources.Get $u.Path)) -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}

{{- $imgHost := (site.Params.image_host | default (replaceRE `/$` "" site.BaseURL)) -}}
{{- $src = $src | replaceRE "^https?://[^/]+" $imgHost -}}
{{- if not (findRE `^https?://` $src) -}}
  {{- if findRE `^/` $src -}}
    {{- $src = printf "%s%s" $imgHost $src -}}
  {{- else -}}
    {{- $src = printf "%s/%s" $imgHost $src -}}
  {{- end -}}
{{- end -}}

<figure{{ with $class }} class="{{ . }}"{{ end }}>
  {{- if $link -}}
    <a href="{{ $link }}"{{ with $target }} target="{{ . }}"{{ end }}{{ with $rel }} rel="{{ . }}"{{ end }}>
  {{- end -}}

  <img src="{{ $src }}"
    {{- if or $alt $caption }}
    alt="{{ with $alt }}{{ . }}{{ else }}{{ $caption | markdownify | plainify }}{{ end }}"
    {{- end -}}
    {{- with $width }} width="{{ . }}"{{ end -}}
    {{- with $height }} height="{{ . }}"{{ end -}}
    {{- with $loading }} loading="{{ . }}"{{ end -}}
  ><!-- Closing img tag -->

  {{- if $link }}</a>{{ end -}}
  {{- if or (or $title $caption) $attr -}}
    <figcaption>
      {{- with $title }}
        <h4>{{ . }}</h4>
      {{- end -}}
      {{- if or $caption $attr -}}<p>
        {{- $caption | markdownify -}}
        {{- with $attrlink }}<a href="{{ . }}">{{ end -}}
        {{- $attr | markdownify -}}
        {{- with $attrlink }}</a>{{ end }}</p>
      {{- end }}
    </figcaption>
  {{- end }}
</figure>
