{{- /*
  Partial: youtube.html
  Expects to be called from a shortcode with `.` as the Page/shortcode context.
  Behavior:
  - Video ID lookup order: `.Get "id"` -> front matter `youtube_video_id` -> positional `.Get 0`.
  - Supports optional params: width, height, class, title, loading, nocookie, start.
*/ -}}

{{- $id := default (.Get 0) (default .Page.Params.youtube_video_id (.Get "id")) -}}

{{- if not $id -}}
  {{- errorf "youtube partial: missing video id; provide as param 'id', first positional param, or set 'youtube_video_id' in front matter" -}}
{{- end -}}

{{- $width := or (.Get "width") "560" -}}
{{- $height := or (.Get "height") "315" -}}
{{- $class := .Get "class" -}}
{{- $title := or (.Get "title") "YouTube video" -}}
{{- $loading := .Get "loading" -}}
{{- $nocookie := .Get "nocookie" -}}
{{- $start := .Get "start" -}}

{{- $host := "www.youtube.com" -}}
{{- if $nocookie }}
  {{- $host = "www.youtube-nocookie.com" -}}
{{- end -}}

{{- $srcBase := printf "https://%s/embed/%s" $host $id -}}

<div{{ if $class }} class="{{ $class }}"{{ end }}>
  <iframe
    src="{{ if $start }}{{ printf "%s?start=%s" $srcBase $start }}{{ else }}{{ $srcBase }}{{ end }}"
    width="{{ $width }}" height="{{ $height }}"
    title="{{ $title }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    {{- if $loading }} loading="{{ $loading }}"{{ end -}}
  ></iframe>
</div>
